@model IEnumerable<AspNetArticle.Core.DataTransferObjects.CommentDto>

@{
    Layout = "_Layout";
}
@{
    ViewData["Title"] = "Comments";
}

@if (Model.Any())
{
    <p><strong>За сегодня: @Model.Where(com => com.PublicationDate >= DateTime.Today)?.Count()</strong></p>
    <p><strong>За всё время: @Model.Count()</strong></p>

}
else
{
    <h3>ІИнформация о комментариях отсуствует</h3>
}
