@{
    Layout = "_Layout";
}
@{
    ViewData["Title"] = "Personal Admin Area";
}

<div class="container-sm d-flex w-75 justify-content-between text-center mt-5 p-3">
    <div class="">
        <h3>Пользователи</h3>
        <a asp-controller="Admin" asp-action="Users" class="btn btn-sm btn-primary">Показать</a>
    </div>
    <div>
        <h3>Новости</h3>
        <a asp-controller="Admin" asp-action="Articles" class="btn btn-sm btn-primary">Показать</a>
    </div>
    <div>
        <h3>Коментарии</h3>
        <a asp-controller="Admin" asp-action="Comments" class="btn btn-sm btn-primary">Показать</a>
    </div>
    <div>
        <h3>Задачи</h3>
        <a href="/jobs" class="btn btn-sm btn-primary">Показать</a>
    </div>
</div>