@using Microsoft.AspNetCore.Mvc.TagHelpers
@using System.Security.Claims

<div>
    @if (User.Identity.IsAuthenticated)
    {

        <div class="pt-1 pe-4">
            @if (User.IsInRole("Admin"))
            {
                <div class="dropdown">
                    <button class="btn btn-sm btn-outline-light text-black dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                        Привет @User.Claims.FirstOrDefault(cl => ClaimTypes.Actor.Equals(cl.Type))?.Value
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                        <li><a asp-controller="Admin" asp-action="Users" class="dropdown-item">Пользователи</a></li>
                        <li><a asp-controller="Admin" asp-action="Articles" class="dropdown-item">Новости</a></li>
                        <li><a asp-controller="Admin" asp-action="Comments" class="dropdown-item">Коментарии</a></li>
                        <li><a href="/jobs" class="dropdown-item">Задачи</a></li>
                        <li><a class="dropdown-item" asp-controller="Account" asp-action="Logout">Выход</a></li>
                    </ul>
                </div>
            }
            else
            {
                <div class="dropdown">
                    <button class="btn btn-sm btn-outline-light text-black dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                        Привет @User.Claims.FirstOrDefault(cl => ClaimTypes.Actor.Equals(cl.Type))?.Value
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                        <li><a class="dropdown-item" asp-action="Edit" asp-controller="Account">Настройки</a></li>
                        <li><a asp-controller="" asp-action="" class="dropdown-item">Избранное</a></li>
                        <li><a class="dropdown-item" asp-controller="Account" asp-action="Logout">Выход</a></li>  
                    </ul>
                </div>
            }
        </div>
    }
    else
    {
        <div class="me-5">
            <a class="py-2 d-none d-md-inline-block" asp-action="Login" asp-controller="Account">Вход</a>
        </div>
    }
</div>

