@using Microsoft.AspNetCore.Mvc.TagHelpers
@using System.Security.Claims

<div>
    @if (User.Identity.IsAuthenticated)
    {
        <div>
            <a class="py-2 d-none d-md-inline-block" asp-action="Edit" asp-controller="Account">
                Hello @User.Claims.FirstOrDefault(cl => ClaimTypes.Actor.Equals(cl.Type))?.Value
            </a>

            <a class="py-2 d-none d-md-inline-block" asp-controller="Account" asp-action="Logout">Logout</a>
        </div>
    }
    else
    {
        <div>
            <a class="py-2 d-none d-md-inline-block" asp-action="Login" asp-controller="Account">Login</a>
            <a class="py-2 d-none d-md-inline-block" asp-action="Registration" asp-controller="Account">Sign In</a>
        </div>
    }
</div>

