@using Microsoft.AspNetCore.Mvc.TagHelpers
@using System.Security.Claims

<div>
    @if (User.Identity.IsAuthenticated)
    {

        <div class="d-inline-flex gap-3">
            @if (User.IsInRole("Admin"))
            {
                <a class="py-2 d-none d-md-inline-block ms-3" asp-action="PersonalArea" asp-controller="Admin">
                    Привет @User.Claims.FirstOrDefault(cl => ClaimTypes.Actor.Equals(cl.Type))?.Value
                </a>
            }
            else
            {
                <a class="py-2 d-none d-md-inline-block ms-3" asp-action="Edit" asp-controller="Account">
                    Hello @User.Claims.FirstOrDefault(cl => ClaimTypes.Actor.Equals(cl.Type))?.Value
                </a>
            }
            <a class="py-2 d-none d-md-inline-block me-3 " asp-controller="Account" asp-action="Logout">Выход</a>
        </div>
    }
    else
    {
        <div class="d-inline-flex me-5">
            <a class="py-2 d-none d-md-inline-block" asp-action="Login" asp-controller="Account">Вход</a>
        </div>
    }
</div>

