@using AspNetArticle.Core.DataTransferObjects
@model ArticleDto

<div class="container">
    <h1>@Model.Views</h1>
    <br />
    <h2>@Model.FullText</h2>
    <br />
    <h3>@Model.PublicationDate</h3>
</div>