@import url('https://fonts.googleapis.com/css2?family=Playfair+Display+SC:wght@400;700&display=swap');

:root {
    --textColor: #DFDFDF;
    --textLinkHover: #FFFFFF;
    --bgColorMain: #E4EBF2;
    --bgColorHeader: #6C7073;
}

h1 {
   /* color: var(--bgColorHeader);*/
}
p {
    margin-bottom: 0;
}
 a {
    text-decoration: none;
    list-style-type: none;
     color: black;
}
a {
    /*color: var(--textColor);*/
    transition: color 100ms;
}

a:hover {
    color: var(--textLinkHover);
}

body {
    
    background-color: var(--bgColorMain);
    margin: 0 10rem;
}

img {
    border-radius: 5px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

header {
    background-color: var(--bgColorHeader);
    margin-right: 16px;
    margin-left: 16px;
}


input {
    color: #022255 !important;
}

/*input[type="email"]:focus,
input[type="password"]:focus,
input[type="text"]:focus {
    box-shadow: 0 0 5px rgba(255, 228, 235, 242);
    border: 1px solid rgba(115, 84, 108, 115);
}*/

p.a {
    color: black;
}


.progress {
    height: 3px !important;
    background-color:#ffffff
}


.show-pass {
    position: absolute;
    top: 272px;
    right: 655px;
}

.progress-bar-danger {
    background-color: #e90f10;
}

.progress-bar-warning {
    background-color: #ffc038;
}

.progress-bar-success {
    background-color: #40E0D0;
}

.progress-bar-great {
    background-color: #00ef00;
}


.degree {
    font-size: 10px;
    font-weight: lighter;
    text-align: end;
}

/*For Validation*/

.validate {
    font-size: 10px;
    color: #e90f10;
}


.commentary {
    min-width: 500px;
}

.top__news {
    color: white;
    text-shadow: 1px 1px 2px black;
}

