@import url('https://fonts.googleapis.com/css2?family=Playfair+Display+SC:wght@400;700&display=swap');


/* button color #88A5BF*/
:root {
    --textColor: #DFDFDF;
    --textLinkHover: #FFFFFF;
    --bgColorMain: #E4EBF2;
    --bgColorHeader: #6C7073;
}

button {
    background-color: #373C40;
}

p {
    margin-bottom: 0;
}

a{
    text-decoration: none;
    list-style-type: none;
    color: black;
    transition: color 100ms;
}

a:hover {
    color: var(--textLinkHover);
}

body {
   /* background-image: url(../image/image2.jpg);*/
   
    background-color: var(--bgColorMain);
     /*margin: 0 10rem;*/
}



img {
    border-radius: 5px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}


input {
    color: #022255 !important;
}



p.a {
    color: black;
}



input[type="email"]:focus,
input[type="password"]:focus,
input[type="text"]:focus {
    box-shadow: 0 0 5px rgba(255, 228, 235, 242);
    border: 1px solid rgba(115, 84, 108, 115);
}

.progress {
    height: 3px !important;
    background-color:#ffffff
}


.show-pass {
    position: absolute;
    top: 5%;
    right: 8%;
}

.progress-bar-danger {
    background-color: #e90f10;
}

.progress-bar-warning {
    background-color: #ffc038;
}

.progress-bar-success {
    background-color: #40E0D0;
}

.progress-bar-great {
    background-color: #00ef00;
}


.degree {
    font-size: 10px;
    font-weight: lighter;
    text-align: end;
}

/*For Validation*/

.validate {
    font-size: 10px;
    color: #e90f10;
}


.commentary {
    min-width: 500px;
}


.top__news {
    color: white;
    text-shadow: 1px 1px 2px black;
}

/* Edit page*/

.avatar {
    width: 150px;
    height: 150px; /* Ширина и высота */
    border-radius: 50%; /* Превращаем в круг */
    background-size: auto 150px; /* Высота фотографии равна высоте элемента */
   /* box-shadow: 0 0 0 .4 10px 10px;*/
}

.comment-avatar {
    width: 75px;
    height: 75px; 
    border-radius: 50%; 
    background-size: auto 75px;
    padding: 0 0;
}

input[type=file]{
    display: none;
}

span#plus {
    background-color: gold;
    transition: background-color 200ms;
    cursor:pointer;
}

span#plus:hover{
    background-color:yellow;
}


/* Buttons Admin user page*/
#table-button:hover #col-button{
    opacity: 1;
}
#col-button {
    opacity: 0;
    transition: opacity 100ms;
}

/* Change Password block*/

.pass-block-hidden {
    background: #fff;
    border-radius: 6px;
    transition: all .5s ease-in-out;
    transform-origin: left top;
}

.status{
    background-color:aliceblue;
    padding: 3px 0;
    border-radius: 4px;
    border: 1px solid #E4EBF2; 
}

.trigger-pass {
    cursor: pointer;
    font-size: 12px;
    color: #4682B4;
    text-decoration: none;
    transition: text-decoration 1s ease-in;
    border-radius: 6px;
    padding: 3px;
}
 
.trigger-pass:hover {
    text-decoration: underline;
    background-color: #f8f9fa;
}

/* Pop-up message Favourite Article*/

#pop-message {
    top: 15px;
    left: 85%;
    position: absolute;
    min-width: 300px;
}

.message {
    -webkit-animation: 3s display-none-transition;
    animation-delay: 1s;
    animation-fill-mode: forwards;
}

@-webkit-keyframes display-none-transition {
    0% {
        display: block;
        visibility: visible;
        opacity: 1;
    }

    99% {
        display: block;
        visibility: visible;
        opacity: 0;
    }

    100% {
        display: none;
        visibility: hidden;
        opacity: 0;
    }
}