@{
    ViewData["Title"] = "AboutProject";
}

<div class="container w-50">
    
    <div class="p-4 rounded bg-light">
        <div class="text-center">
            <h2>О Проекте</h2>
        </div>
        
        <hr />

        <div class="text-start p-2">
            <strong>Концепт: </strong>
        </div>
        
        <ul>
            <li><small>Приложение получает новости из 2 Rss источников (Onliner, Devby)</small></li>
            <li><small>Текст каждой новости лематизируется и сравнивается со списком слов, где каждому слову присвоена оценка</small></li>
            <li><small>На основе общей оценки, новости присваивается рейтинг (хороший/плохой)</small></li>
            <li><small>По умолчанию только хорошие новости показываются пользователю</small></li>
        </ul>
    </div>
</div>