@model AspNetArticle.Core.DataTransferObjects.ArticleDto

@{
    Layout = "_MyLayoutBootStrap";
}
@{
    ViewData["Title"] = "Details";
}

<div>
    <article-text article="Model"></article-text>
</div>