<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="~/css/MyStyle.css" />
</head>

<div class="container">
    <header class="header">
        <div class="header-row">
            <div class="header-row-first">
                <a asp-controller="Account" asp-action="Registration" name="Registration">Registration Page</a>
            </div>
            <div>
                <a asp-controller="Account" asp-action="Login">Login</a>
            </div>
        </div>
    </header>
</div>