@using Microsoft.AspNetCore.Mvc.TagHelpers
@model AspNetArticle.MvcApp.Models.UserEditViewModel

@{
    ViewData["Title"] = "Edit";
}


<div class="col-auto container text-center w-25 mt-5 mb-5">

    <h1 class="row-auto mt-5 mb-4">Профиль</h1>
    <hr/>
    <form asp-controller="Account" asp-action="Edit" method="post" enctype="multipart/form-data">
        <input asp-for="Id" hidden />
        <div class="position-relative d-block mb-3">
            <a class="tooltipped tooltipped-s d-block">
                <img class="avatar" alt="" src="~/image/DefaultAvatar.png"> <!-- Сюда источник авы -->
                <span class="position-absolute bottom-25 start-75 translate-middle badge rounded-pill bg-warning" data-bs-html="true" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Изменить аватар">
                    + <input class="" type="image" />
                </span>
               
            </a>
        </div>
        <!-- <input class="" type="image" name="uploadedFile" /> -->
        <div class="user-status-container position-relative hide-sm hide-md"></div>
        <div class="row container m-0 gy-1">


            <div class="form-group">
                
                <input asp-for="Avatar" type="image" class="form-control form-control-sm" />
            </div>

            <div class="form-group">
                <input asp-for="Email" placeholder="Ваш e-mail" class="form-control form-control-sm" disabled />
            </div>


            <div class="form-group">
                <input asp-for="UserName" placeholder="Имя или Ник" class="form-control form-control-sm" />
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input asp-for="NewPassword" placeholder="Новый пароль" class="form-control form-control-sm" />
                <span asp-validation-for="NewPassword" class="text-danger"></span>
            </div>

            <div class="form-group p-1">
                <label asp-for="Spam" class="form-check-label form-control-sm">Рассылка свежих новостей</label>
                <input type="checkbox" asp-for="Spam" class="form-check-input mt-2" checked />
            </div>
            <hr />
            <div class="form-group">
                <button type="submit" class="btn btn-primary btn-sm w-100">Обновить</button>
            </div>
        </div>
    </form>

</div>

@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}
