@using Microsoft.AspNetCore.Mvc.TagHelpers
@model AspNetArticle.MvcApp.Models.UserModels.UserLoginViewModel

@{
    ViewData["Title"] = "Login";
}

<div class="col-auto container text-center w-25 mt-5 mb-5">

    <h1 class="row-auto mt-5 mb-4">Вход</h1>

    <form asp-controller="Account" asp-action="Login" method="post" class="row container m-0 gy-1">


        <div class="form-group">
            <input asp-for="Email" placeholder="Ваш e-mail" class="form-control form-control-sm" />
            <span asp-validation-for="Email" class="validate"></span>
        </div>

        <!--Here will be toggle-->
        <div class="form-group mb-2">
            <input asp-for="Password" id="password" placeholder="Пароль" class="form-control form-control-sm" />
            <span asp-validation-for="Password" class="validate"></span>
        </div>

        <hr />
        <div class="form-group">
            <button type="submit" class="btn btn-primary btn-sm w-100">Войти</button>
        </div>

        <div class="mt-2">
            Нет аккаунта? Нажми <a asp-controller="Account" asp-action="Registration" style="color:darkred">сюда</a>
        </div>
    </form>


</div>

@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}





