@using AspNetArticle.MvcApp.Models
@model UserRegistrationModel


@{
    ViewData["Title"] = "Registration";
}


<form asp-controller="Account" asp-action="Registration" method="post">
    <div class="border col-md-4 offset-md-4 mt-5">
        <div class="row">
            <div class="mb-5">
                <h1 class="text-center">Registration</h1>
            </div>
            
            
            <!-- For UserName -->
            <div class="form-group row mb-3">
                
                <div class="col-7">
                    <input asp-for="UserName" placeholder="username">
                    <span asp-validation-for="UserName" class="text-danger"></span>
                </div>
            </div>

            <!-- For Email -->
            <div class="form-group row mb-3">
             
                <div class="col-7">
                    <input asp-for="Email" placeholder="email">
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
            </div>

            <!-- For Password -->
            <div class="form-group row mb-3">
           
                <div class="col-7">
                    <input asp-for="Password" placeholder="Password">
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>

            </div>

            
            <!-- For ConfirmPassword -->
            <div class="mb-3 form-group row">
                <div class="col-5">
                    <label asp-for="ConfirmPassword"></label>

                </div>
                <div class="col-7">
                    <input asp-for="ConfirmPassword" placeholder="Confirm Password">
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                </div>

            </div>
            <!-- For Spam -->
            <div class="mb-3 form-group gap-3">

                <label asp-for="Spam">Spam</label>
                <input type="checkbox" asp-for="Spam" />
            </div>
            <!-- Button Submit -->
            <div class="text-center row col-12">
                <div class="col-4 w-50">
                    <button type="submit" class="btn btn-primary w-50" >Submit</button>
                </div>
                <div class="offset-4 col-4 w-50">
                    <a asp-controller="Account" asp-action="Login" class="btn btn-secondary w-50" >
                        Back
                    </a>
                </div>
                
            </div>
        </div>
        
        
    </div>
    
</form>

@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}
