@using Microsoft.AspNetCore.Mvc.TagHelpers
@model AspNetArticle.MvcApp.Models.UserModels.UserRegistrationViewModel

@{
    ViewData["Title"] = "Registration";
}


<div class="col-auto container text-center w-25 mt-5 mb-5">

    <h1 class="row-auto mt-5 mb-4">Регистрация</h1>

    <form asp-controller="Account" asp-action="Registration" method="post" class="row container m-0 gy-1">

        <div class="form-group">
            <input asp-for="UserName" placeholder="Имя или ник" placeholder="Username" class="form-control form-control-sm" />
            <span asp-validation-for="UserName" class="text-danger"></span>
        </div>

        <div class="form-group">
            <input asp-for="Email" placeholder="Ваш e-mail" class="form-control form-control-sm" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
        
        <!--Here will be toggle-->
        <div class="form-group">
            <input asp-for="Password" id="password" placeholder="Придумайте пароль"class="form-control form-control-sm" />
            <span asp-validation-for="Password" class="text-danger"></span>
            
            <p class="degree" id="test">Минимум 4 символа</p>

            <div id="popover-password">
                <p><span id="result"></span></p>

                <div class="progress">
                    <div id="password-strength" class="progress-bar" style="width: 0%"></div>
                </div>
            </div>
        </div>
        <small style="font-weight: lighter; font-size: 10px;">1-9 A-a !#$%& больше 8</small>

        <div class="form-group">
            <input asp-for="ConfirmPassword" placeholder="Повторите пароль" class="form-control form-control-sm" />
            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
        </div>
        
        <div class="form-group">
            <label asp-for="Spam" class="form-check-label form-control-sm">Рассылка свежих новостей</label>
            <input type="checkbox" asp-for="Spam" class="form-check-input mt-2" checked/>
        </div>
        <hr/>
        <div class="form-group">
            <button type="submit" class="btn btn-primary btn-sm w-100">Зарегистрироваться</button>
        </div>
        <div class="mt-2">
            Уже есть аккаунт? Нажми <a asp-controller="Account" asp-action="Login" style="color:darkred">сюда</a>
        </div>
    </form>


</div>
<script src="https://kit.fontawesome.com/1c2c2462bf.js"></script>
<script src="~/js/progress-streght-bar.js"></script>
@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}