@using Microsoft.AspNetCore.Mvc.TagHelpers
@model AspNetArticle.MvcApp.Models.UserRegistrationViewModel


@{
    ViewData["Title"] = "Registration";
}


<div class="col-auto container text-center w-25 p-1 mb-2 bg-light rounded">

    <h1 class="row-auto mt-5 mb-4">Регистрация</h1>
    <hr/>
    <form asp-controller="Account" asp-action="Registration" method="post" class="row container m-0 gy-1">

        <div class="form-group">
            <input asp-for="UserName" placeholder="Имя или ник" class="form-control form-control-sm" />
            <span asp-validation-for="UserName" class="validate"></span>
        </div>

        <div class="form-group">
            <input asp-for="Email" placeholder="Ваш e-mail" class="form-control form-control-sm" />
            <span asp-validation-for="Email" class="validate"></span>
        </div>
        
        <div class="form-group position-relative">
            <input asp-for="Password" id="password" placeholder="Придумайте пароль"class="form-control form-control-sm" />

            <span class="show-pass" onclick="toggle()">
                <i class="far fa-eye" onclick="myFunction(this)"></i>
            </span>

            <span asp-validation-for="Password" class="validate"></span>

            <p class="degree" id="test">Минимум 4 символа</p>

            <div id="popover-password">
                <p><span id="result"></span></p>

                <div class="progress">
                    <div id="password-strength" class="progress-bar" style="width: 0%"></div>
                </div>
            </div>
        </div>
        <small style="font-weight: lighter; font-size: 10px;">0-9 Aa !#$%& больше 8</small>

        <div class="form-group">
            <input asp-for="ConfirmPassword" placeholder="Повторите пароль" class="form-control form-control-sm" />
            <span asp-validation-for="ConfirmPassword" class="validate"></span>
        </div>
        
        <div class="form-group">
            <label asp-for="Spam" class="form-check-label form-control-sm">Рассылка свежих новостей</label>
            <input type="checkbox" asp-for="Spam" class="form-check-input mt-2" checked/>
        </div>
        <hr/>
        <div class="form-group">
            <button type="submit" class="btn btn-primary btn-sm w-100">Зарегистрироваться</button>
        </div>
        <div class="mt-2">
            Уже есть аккаунт? Нажми <a asp-controller="Account" asp-action="Login" style="color:darkred">сюда</a>
        </div>
    </form>
</div>

@*<script src="https://kit.fontawesome.com/1c2c2462bf.js"></script>
<script src="~/js/progress-streght-bar.js"></script>*@

@section Scripts{
    <partial name="_ValidationScriptsPartial" />
    <script src="~/js/progress-streght-bar.js"></script>
}
